'atom-text-editor':
  'alt-r alt-r': 'ts-identifier-highlight:renameIdentifier'
  'shift-alt-left': 'ts-identifier-highlight:prevIdentifier'
  'shift-alt-right': 'ts-identifier-highlight:nextIdentifier'
  'shift-alt-up': 'ts-identifier-highlight:jumpToDefinition'
